:root {
	--white: #fff;
	--light-white: #858585;
	--deep-white: #c8c8c8;
	--red: #6c0707;
	--light-red: #660000;
	--green: #1d956e;
	--grey: #243034;
	--light-grey: #707070;
	--transparent: #0000008f;
	--dark: #000;
	--Spicy: #82633d;
	--pink:#FF1493;
}
@media only screen and (max-width: 768px) {
.btn__suit {
display : none;
}
.btn__show {
    display: inline-block;
}
.navbar__menu {
position : fixed;
top : 4rem;
left : 0;
background-color : #0000008f;
line-height : 1.5rem;
text-align : center;
z-index : 1;
}
.navbar__menu ul li {
display : block;
}
.img__box, .footer__area__box, .company__box__element__container, .business__box__element__container, .design__box__item, .footer__container {
display : flex;
flex-direction : column;
}
.header__item h1 {
font-size : 1.5rem;
}
.section__box {
transform : none;
padding : 1rem;
}
.section__box__container, .services__container, .design__box__element__container, .business__box__item, .company__box__element__container, .product__box__item, .company__box__item {
display : flex;
flex-wrap : wrap;
}
.product__item__box {
display : grid;
grid-template-columns : 1fr;
justify-content : center;
object-fit : cover;
grid-template-rows : repeat(6,20rem);
}
.message__container {
display : flex;
flex-wrap : wrap;
padding : 1rem 0.5rem;
}
.message__item {
padding : 0.5rem 0;
}
.humbarger {
display : block;
}
label #btn {
right : 1rem;
top : 0.5rem;
font-size : 2rem;
color : var(--green);
background-color : #000;
padding : 0.3rem;
cursor : pointer;
border-radius : 0.2rem;
}
}